__pycache__/api_client_create_exercise.cpython-313.pyc
clients/__pycache__/api_client.cpython-313.pyc
clients/__pycache__/private_http_builder.cpython-313.pyc
clients/__pycache__/public_http_builder.cpython-313.pyc
clients/authentication/__pycache__/AuthenticationClient.cpython-313.pyc
clients/courses/__pycache__/courses_client.cpython-312.pyc
clients/courses/__pycache__/courses_client.cpython-313.pyc
clients/exercises/__pycache__/exercises_client.cpython-312.pyc
clients/exercises/__pycache__/exercises_client.cpython-313.pyc
clients/exercises/__pycache__/exercises_client.cpython-312.pyc
clients/files/__pycache__/files_client.cpython-312.pyc
clients/files/__pycache__/files_client.cpython-313.pyc
clients/users/__pycache__/private_users_client.cpython-312.pyc
clients/users/__pycache__/private_users_client.cpython-313.pyc
clients/users/__pycache__/public_users_client.cpython-313.pyc
clients/users/__pycache__/private_users_client.cpython-312.pyc
httpx_create_file.py
nnn.py
testdata/files/files_client.py
testdata/files/files_client.py
*.py
*.py
httpx_create_file.py
*.py
/clients/users/__pycache__
*.pyc
